<nav class="navbar navbar-light navbar-expand-lg fixed-top">
	<a class="navbar-brand d-lg-none" href="/">Bakery</a>
	<!-- Navbar navigation: Left -->
	<ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" id="nav" href="about">ABOUT US</a></li>
        <li class="nav-item"><a class="nav-link" id="nav" href="recipes">RECIPES</a></li>
	</ul>
    <!-- Navbar: Brand -->
	<a class="navbar-brand d-none d-lg-flex" id="brandName" href="/">Pâtisserie</a>
    <!-- Navbar navigation: Right -->
	<ul class="navbar-nav ml-auto">
	    <li class="nav-item"><a class="nav-link" id="nav" href="/cookies">COOKIES</a></li>
		<li class="nav-item"><a class="nav-link" id="nav" href="/cakes">CAKES</a></li>
		<li class="nav-item"><a class="nav-link" id="nav" href="/muffins">MUFFINS</a></li>
	</ul>
</nav>


<div id ='about-us'>
   <div id ='about-content'>
        <p class ='about-us-content'> Macaroon gummies bear claw. Sweet oat cake sugar plum candy. Lollipop sugar plum lemon drops gingerbread. Fruitcake muffin icing pastry chocolate bar. Cotton candy cookie liquorice caramels wafer donut. Sugar plum sesame snaps jelly-o croissant brownie marzipan candy canes. Toffee icing cake candy dragée cake cupcake gingerbread icing. Tart candy brownie lemon drops lollipop dragée apple pie croissant. Brownie tootsie roll lemon drops lollipop.</p>

       <p class ='about-us-content'>Donut cupcake sweet roll topping caramels candy canes soufflé macaroon. Carrot cake icing cookie. Gingerbread dragée macaroon cotton candy cookie caramels cheesecake. Cake donut chocolate bar chupa chups donut jujubes chocolate bar chocolate bar.</p>
   </div>
</div>