<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Pâtisserie</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="muffins">MUFFINS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="cookies">COOKIES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="cakes">CAKES</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


<form  style="position:relative; text-align:center; top:40vh; width:100%" action="/displayRecipes" method="post">
<input style="width:20%" type="text" name="input" placeholder="type here...">
<button >Go</button>
</form>
<h1 id="search">SEARCH FOR YOUR FAVORITE SNACK</h1>
