<nav class="navbar navbar-light navbar-expand-lg fixed-top">
	<a class="navbar-brand d-lg-none" href="/">Bakery</a>
	<!-- Navbar navigation: Left -->
	<ul class="navbar-nav mr-auto">
		<li class="nav-item"><a class="nav-link" id="nav" href="about">ABOUT US</a>
		</li>
		<li class="nav-item"><a class="nav-link" id="nav" href="recipes">RECIPES</a></li>
	</ul>


    <!-- Navbar: Brand -->
	<a class="navbar-brand d-none d-lg-flex" id="brandName" href="/">Pâtisserie</a>
    <!-- Navbar navigation: Right -->
	<ul class="navbar-nav ml-auto">
	    <li class="nav-item"><a class="nav-link" id="nav" href="/cookies">COOKIES</a></li>
		<li class="nav-item"><a class="nav-link" id="nav" href="/cakes">CAKES</a></li>
		<li class="nav-item"><a class="nav-link" id="nav" href="/muffins">MUFFINS</a></li>
	</ul>
</nav>

    <section class="section section_welcome" id="section" data-parallax="scroll" data-image-src="public/header2.jpg">

		<!-- Content -->
		<div class="section_welcome__main">
			<div class="container">
				<div class="row align-items-center">
					<div class="col">
						
						<!-- Heading -->
						
		
					</div>
				</div> <!-- / .row -->
			</div> <!-- / .container -->
		</div>

		<!-- Footer -->
		<div class="section_welcome__footer">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md">
						
                        <!-- Social links -->
						<ul class="section_welcome__footer__social text-center text-lg-left">
							<li>
								<a href="#">
                                    <i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#">
                                    <i class="fa fa-instagram"></i>
								</a>
                            </li>
            
                            <li id="address">
                                <i class="fa fa-map-marker"></i> 195 John Street, New York, NY 10027
                            </li>
						</ul>

					</div>
				</div> <!-- / .row -->
			</div> <!-- / .container -->
		</div>

	</section>



